@media only screen and (min-width:1801px) {
    .ttm-left-span .ttm-col-wrapper-bg-layer {
        margin-left: -500px
    }

    .ttm-right-span .ttm-col-wrapper-bg-layer {
        margin-right: -500px
    }
}

@media only screen and (max-width:1800px) and (min-width:1601px) {
    .ttm-left-span .ttm-col-wrapper-bg-layer {
        margin-left: -400px
    }

    .ttm-right-span .ttm-col-wrapper-bg-layer {
        margin-right: -400px
    }

    .spacing-11 {
        margin-left: -230px
    }
}

@media only screen and (max-width:1600px) and (min-width:1401px) {
    .ttm-left-span .ttm-col-wrapper-bg-layer {
        margin-left: -300px
    }

    .ttm-right-span .ttm-col-wrapper-bg-layer {
        margin-right: -300px
    }

    .spacing-11 {
        margin-left: -110px
    }
}

@media only screen and (max-width:1400px) and (min-width:1171px) {
    .ttm-left-span .ttm-col-wrapper-bg-layer {
        margin-left: -200px
    }

    .ttm-right-span .ttm-col-wrapper-bg-layer {
        margin-right: -200px
    }

    .spacing-11 {
        margin-left: -15px
    }

    .banner-slider.slick_slider:hover .slick-next,
    .banner-slider.slick_slider:hover .slick-prev {
        opacity: 0
    }
}

@media only screen and (max-width:1280px) {
    .slick_slider .slick-arrow {
        display: none;
        visibility: hidden
    }
}

@media only screen and (min-width:1200px) {
    .ttm-stickable-header.fixed-header {
        z-index: 111;
        background-color: #d91212;       
        -webkit-box-shadow: 0 13px 25px -12px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 13px 25px -12px rgba(0, 0, 0, .25);
        box-shadow: 0 13px 25px -12px rgba(0, 0, 0, .25)
    }

    .fixed-header {
        position: fixed !important;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9
    }

    .ttm-header-style-01 .site-header-menu .ttm-stickable-header.fixed-header .site-navigation {
        margin-top: 0
    }

    .ttm-header-style-01 .ttm-stickable-header.fixed-header .site-navigation-content {
        position: unset;
        content: unset;
        box-shadow: unset
    }

    .ttm-header-style-01 #site-header-menu .site-navigation ul.menu>li>a {
        padding: 42px 18px 41px 18px
    }

    .ttm-header-style-01 #site-header-menu .ttm-stickable-header.fixed-header .site-navigation ul.menu>li>a {
        padding: 26px 17px
    }

    .ttm-header-style-02 .site-branding {
        padding: 34px 0
    }

    .ttm-header-style-02 #site-header-menu .site-header-menu-inner {
        border-top: 1px solid #eaecf2
    }

    .ttm-header-style-02 #site-header-menu .site-navigation ul.menu>li>a {
        padding: 19px 23px
    }

    .ttm-header-style-02 #site-header-menu .site-navigation ul.menu>li:not(:last-child)>a:before {
        content: "";
        position: absolute;
        height: 20px;
        width: 1px;
        right: -6px;
        top: 50%;
        -khtml-transform: translateX(0) translateY(-50%);
        -moz-transform: translateX(0) translateY(-50%);
        -ms-transform: translateX(0) translateY(-50%);
        -o-transform: translateX(0) translateY(-50%);
        transform: translateX(0) translateY(-50%);
        background-color: rgba(19, 29, 59, .08);
        display: inline-block
    }

    .ttm-header-style-02 .header_search .header_search_content {
        right: 200px
    }

    header.ttm-header-style-03 {
        position: absolute;
        z-index: 2;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none
    }

    header.ttm-header-style-03 .top_bar,
    header.ttm-header-style-03 .top_bar_contact_item {
        height: 116.5px;
        line-height: 116.5px
    }

    header.ttm-header-style-03 .top_bar_contact_item:nth-child(even):after {
        content: ""
    }

    header.ttm-header-style-03 .top_bar_contact_item:last-child:after {
        content: unset
    }

    header.ttm-header-style-03 .top_bar_contact_item:after {
        top: 47px;
        right: -16px
    }

    header.ttm-header-style-03 .top_bar_contact_item:nth-last-child(2) {
        margin-right: 24px
    }

    header.ttm-header-style-03 .site-branding {
        position: absolute;
        left: 0;
        top: -80px
    }

    .ttm-header-style-03 #site-header-menu .site-navigation:after {
        display: block;
        width: 92%;
        left: 4%;
        position: absolute;
        content: "";
        top: 13px;
        z-index: -1;
        height: 100%;
        margin: 0 auto;
        opacity: .8;
        transition: opacity 0s linear
    }

    .ttm-header-style-03 #site-header-menu .site-navigation ul.menu {
        padding-left: 15px
    }

    .ttm-header-style-03 #site-header-menu .site-navigation ul.menu>li>a {
        padding: 25px 19px
    }

    .ttm-header-style-03 .header_btn a.ttm-btn {
        padding: 24px 42px 23px
    }

    .ttm-header-style-03 .header_cart .button-cart:before {
        background-color: rgba(255, 255, 255, .31)
    }

    .ttm-header-style-03 .header_search .header_search_content {
        right: 230px
    }

    .ttm-header-style-03 #site-header-menu .ttm-stickable-header.fixed-header .site-navigation:after {
        content: unset
    }

    header.ttm-header-style-04 {
        position: absolute;
        z-index: 2;
        width: 100%;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        -o-box-shadow: none
    }

    header.ttm-header-style-04 .top_bar,
    header.ttm-header-style-04 .top_bar_contact_item {
        height: 116.5px;
        line-height: 116.5px
    }

    header.ttm-header-style-04 .top_bar_contact_item:nth-child(even):after {
        content: ""
    }

    header.ttm-header-style-04 .top_bar_contact_item:last-child:after {
        content: unset
    }

    header.ttm-header-style-04 .top_bar_contact_item:after {
        top: 47px;
        right: -16px
    }

    header.ttm-header-style-04 .top_bar_contact_item:nth-last-child(2) {
        margin-right: 24px
    }

    .ttm-header-style-04 #site-header-menu .site-navigation:after {
        display: block;
        width: 92%;
        left: 4%;
        position: absolute;
        content: "";
        top: 13px;
        z-index: -1;
        height: 100%;
        margin: 0 auto;
        opacity: .8;
        transition: opacity 0s linear
    }

    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu {
        padding-left: 15px
    }

    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li>a {
        padding: 25px 19px
    }

    nav.main-menu li.mega-menu-item ul.mega-submenu li ul {
        top: 0
    }

    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li>a:after {
        content: unset
    }

    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li.active>a:before,
    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li:hover>a:before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 14px;
        left: 0;
        right: 0;
        width: 60%;
        margin: 0 auto;
        height: 3px;
        transform: scale3d(1, 1, 1);
        transform-origin: 0 50%;
        transition: transform .5s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1)
    }

    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li.active>a:after,
    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li:hover>a:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        margin: 0 auto;
        right: 0;
        bottom: 17px;
        opacity: 1;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #fff
    }

    .ttm-header-style-04 .header_btn a.ttm-btn {
        padding: 24px 42px 23px
    }

    .ttm-header-style-04 .header_cart .button-cart:before {
        background-color: rgba(255, 255, 255, .31)
    }

    .ttm-header-style-04 .header_search .header_search_content {
        right: 230px
    }

    .ttm-header-style-04 #site-header-menu .ttm-stickable-header.fixed-header .site-navigation:after {
        content: unset
    }
}

@media all and (max-width:1199px) {
    .res-1199-mt-0 {
        margin-top: 0 !important
    }

    .res-1199-mb-0 {
        margin-bottom: 0 !important
    }

    .res-1199-mr-0 {
        margin-right: 0 !important
    }

    .res-1199-ml-0 {
        margin-left: 0 !important
    }

    .res-1199-ml-10 {
        margin-left: 10px !important
    }

    .res-1199-ml-20 {
        margin-left: 20px !important
    }

    .res-1199-ml_50 {
        margin-left: -50px !important
    }

    .res-1199-pt-0 {
        padding-top: 0 !important
    }

    .res-1199-pr-0 {
        padding-right: 0 !important
    }

    .res-1199-pl-0 {
        padding-left: 0 !important
    }

    .res-1199-pb-0 {
        padding-bottom: 0 !important
    }

    .res-1199-pt-15 {
        padding-top: 15px !important
    }

    .res-1199-pr-15 {
        padding-right: 15px !important
    }

    .fbar-main,
    .top_bar {
        display: none
    }

    header .container {
        max-width: 100%
    }

    .header_extra,
    .widget_info {
        display: none !important;
        visibility: hidden
    }

    .site-branding {
        text-align: center
    }

    #site-header-menu .site-header-menu-inner {
        height: 80px;
        line-height: 80px
    }

    .ttm-header-style-03 #site-header-menu .site-navigation ul.menu>li>a,
    .ttm-header-style-04 #site-header-menu .site-navigation ul.menu>li>a,
    header nav.main-menu ul.menu>li>a {
        color: #666d81
    }

    .ttm-header-style-02 .site-branding {
        position: absolute;
        bottom: -60px
    }

    .ttm-header-style-02 .menubar {
        top: 40px
    }

    .ttm-header-style-03 #site-header-menu .site-header-menu-inner {
        background-color: #121d30 !important
    }

    .ttm-header-style-03 .menubar {
        top: -80px
    }

    .ttm-header-style-04 #site-header-menu .site-header-menu-inner {
        background-color: #121d30 !important
    }

    .ttm-header-style-04 .fbar-main {
        display: none
    }

    .ttm-header-style-04 .top_bar {
        display: block;
        height: 0
    }

    .ttm-header-style-04 .site-branding {
        position: absolute;
        left: 0;
        right: 0;
        top: 15px
    }

    .ttm-header-style-04 .top_bar_contact_item {
        display: none
    }

    .ttm-header-style-04 .menubar {
        top: 40px
    }

    .ttm-header-style-02 nav.main-menu,
    .ttm-header-style-04 nav.main-menu {
        top: 80px
    }

    .spacing-11 {
        margin-left: 15px
    }

    .bg-layer-equal-height [class*=col-xl] .ttm-col-bgcolor-yes,
    [class*=col-xl] .ttm-col-bgimage-yes {
        height: auto !important
    }

    .bg-layer>.container>.row>[class*=col-xl] {
        padding: 0
    }

    [class*=col-xl] .ttm_single_image-wrapper {
        text-align: center !important
    }

    .banner-slider .container,
    .element-row .container,
    .sidebar .container,
    .ttm-page-title-row .container,
    .ttm-row .container,
    .ttm-row .container-fluid,
    footer .container {
        max-width: 100%
    }

    .element-row .container,
    .sidebar .container,
    .ttm-row .container,
    footer .container {
        padding: 0
    }

    .element-row .container>.row,
    .sidebar .container>.row,
    .ttm-page-title-row .container>.row,
    .ttm-row .container>.row,
    footer .container .row {
        margin: 0
    }

    .row-title.style1 h2.title:before {
        left: 30px
    }
}

@media (min-width:992px) {
    .sidebar.ttm-sidebar-right .content-area {
        padding-right: 30px
    }

    .sidebar .sidebar-right,
    .sidebar.ttm-sidebar-left .content-area {
        padding-left: 30px
    }

    .sidebar .sidebar-left {
        margin-top: -30px;
        margin-right: 15px
    }

    .sidebar.ttm-sidebar-left .content-area {
        margin-right: -30px;
        padding-right: 30px
    }

    .sidebar .sidebar-left.ttm-left-span .ttm-col-wrapper-bg-layer {
        margin-right: -15px
    }

    .ttm-tabs.ttm-tab-style-classic ul.tabs {
        display: -webkit-flex;
        display: flex;
        width: 100%
    }
}

@media only screen and (max-width:1199px) and (min-width:992px) {
    ul.ttm-coursedetails-box {
        display: block
    }

    ul.ttm-coursedetails-box li:not(:last-child):after {
        content: unset
    }

    .banner-slider.slick_slider:hover .slick-next,
    .banner-slider.slick_slider:hover .slick-prev {
        opacity: 0
    }
}

@media (max-width:991px) {

    .featured-imagebox img,
    .row-equal-height>[class*=col-],
    .ttm-equal-height-image,
    .ttm_single_image-wrapper img,
    [class*=col-md] .ttm-equal-height-image {
        display: block;
        text-align: center;
        margin: 0 auto
    }

    .section-title.style2 .title-header {
        width: 100%;
        display: block;
        padding-bottom: 10px
    }

    .section-title.style2 {
        margin-bottom: 20px
    }

    .section-title.style1 .title-header {
        width: 100%;
        display: block;
        padding-bottom: 10px
    }

    .section-title.style1 {
        margin-bottom: 20px
    }

    .page-title-heading h2 {
        font-size: 36px;
        line-height: 42px
    }

    .ttm-page-title-row-inner .row {
        color: #fff;
        min-height: 200px
    }

    .banner-slider .banner-caption .banner-text_1 .text {
        line-height: 1
    }

    .bg-layer-equal-height [class*=col-lg] .ttm-col-bgcolor-yes,
    [class*=col-lg] .ttm-col-bgimage-yes {
        height: auto
    }

    .bg-layer>.container>.row>[class*=col-lg] {
        padding: 0
    }

    h1 {
        font-size: 50px;
        line-height: 55px
    }

    h2 {
        font-size: 36px;
        line-height: 42px
    }

    h3 {
        font-size: 32px;
        line-height: 38px
    }

    h4 {
        font-size: 24px;
        line-height: 28px
    }

    h5 {
        font-size: 19px;
        line-height: 22px
    }

    h6 {
        font-size: 17px;
        line-height: 20px
    }

    .ttm-row,
    body .page.ttm-sidebar-true .site-main {
        padding: 60px 0 !important
    }

    .ttm-row.client-section {
        padding: 10px 0 !important
    }

    .ttm-row.features-section {
        padding: 0 0 !important
    }

    .ttm-row.broken-section {
        padding: 0 0 !important
    }

    .ttm-row.cta-section {
        padding: 30px 0 15px !important
    }

    .ttm-row.course_highlight-section {
        padding: 60px 0 0 !important
    }

    .ttm-row.fid-section {
        padding: 50px 0 40px !important
    }

    .ttm-row.blog-section {
        padding: 60px 0 45px !important
    }

    .ttm-row.action-section {
        padding: 75px 0 65px !important
    }

    .ttm-row.skill-section {
        padding: 60px 0 0 !important
    }

    .ttm-row.blog2-section {
        padding: 60px 0 40px !important
    }

    .ttm-row.conatact-section {
        padding: 60px 0 0 !important
    }

    .ttm-row.banner-box-section {
        padding: 60px 0 0 !important
    }

    .ttm-row.product-section {
        padding: 30px 0 30px !important
    }

    .ttm-row.client2-section {
        padding: 15px 0 30px !important
    }

    .ttm-row.grid-section {
        padding: 45px 0 45px !important
    }

    section.error-404 {
        padding: 60px 0 50px
    }

    .element-row {
        padding: 50px 0 0 !important
    }

    .ttm-row.introduction-section_1 {
        padding: 20px 0 59px !important
    }

    .ttm-row.portfolio-section_1 {
        padding: 0 0 25px !important
    }

    .ttm-row.course-section_1 {
        padding: 60px 0 45px !important
    }

    .ttm-row.action-section_1 {
        padding: 50px 0 60px !important
    }

    .ttm-row.blog-section_1 {
        padding: 60px 0 45px !important
    }

    .ttm-row.course-section_2 {
        padding: 60px 0 45px !important
    }

    .ttm-row.blog-section_2 {
        padding: 60px 0 45px !important
    }

    .ttm-row.about-section_3 {
        padding: 60px 0 10px !important
    }

    .ttm-row.portfolio-section_3 {
        padding: 60px 0 30px !important
    }

    .ttm-row.blog-section_3 {
        padding: 60px 0 30px !important
    }

    .ttm-row.action-section_3 {
        padding: 60px 0 40px !important
    }

    .spacing-1 {
        padding-top: 60px;
        padding-left: 15px;
        padding-bottom: 60px;
        padding-right: 15px
    }

    .spacing-2 {
        margin-left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 40px
    }

    .spacing-3 {
        margin-right: 0;
        margin-left: 0;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 40px
    }

    .spacing-4 {
        margin-left: 0;
        margin-top: 0
    }

    .spacing-5 {
        padding-top: 40px;
        padding-left: 15px;
        padding-bottom: 40px;
        padding-right: 15px;
        margin-top: 0
    }

    .spacing-6 {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 50px;
        padding-bottom: 55px
    }

    .spacing-7 {
        margin: 0 -15px;
        padding-top: 40px;
        padding-right: 15px;
        padding-bottom: 40px;
        padding-left: 15px;
        margin-top: 20px
    }

    .spacing-8 {
        padding: 30px
    }

    .spacing-9 {
        padding: 25px 35px 35px
    }

    .spacing-10 {
        padding: 60px 15px 32px
    }

    .spacing-11 {
        margin-left: 15px
    }

    .spacing-13 {
        padding: 32px 25px 40px
    }

    .spacing-14 {
        margin-bottom: 40px
    }

    .spacing-15 {
        padding: 0
    }

    .spacing-17 {
        padding: 40px 15px 0
    }

    .spacing-18 {
        padding: 40px 15px 40px;
        margin-left: 0
    }

    .spacing-20 {
        padding: 60px 15px 40px
    }

    .spacing-19 {
        padding: 50px 15px;
        margin-right: 0;
        margin-left: 0
    }

    .res-991-p-0 {
        padding: 0 !important
    }

    .res-991-pt-0 {
        padding-top: 0 !important
    }

    .res-991-pt-10 {
        padding-top: 10px !important
    }

    .res-991-pt-15 {
        padding-top: 15px !important
    }

    .res-991-pt-30 {
        padding-top: 30px !important
    }

    .res-991-pt-40 {
        padding-top: 40px !important
    }

    .res-991-pt-50 {
        padding-top: 50px !important
    }

    .res-991-pt-60 {
        padding-top: 60px !important
    }

    .res-991-pb-0 {
        padding-bottom: 0 !important
    }

    .res-991-pb-15 {
        padding-bottom: 15px !important
    }

    .res-991-pb-30 {
        padding-bottom: 30px !important
    }

    .res-991-pb-40 {
        padding-bottom: 40px !important
    }

    .res-991-pb-50 {
        padding-bottom: 50px !important
    }

    .res-991-pr-0 {
        padding-right: 0 !important
    }

    .res-991-pr-15 {
        padding-right: 15px !important
    }

    .res-991-pr-30 {
        padding-right: 30px !important
    }

    .res-991-pr-50 {
        padding-right: 50px !important
    }

    .res-991-pr-60 {
        padding-right: 60px !important
    }

    .res-991-pl-0 {
        padding-left: 0 !important
    }

    .res-991-pl-15 {
        padding-left: 15px !important
    }

    .res-991-pl-30 {
        padding-left: 30px !important
    }

    .res-991-pl-35 {
        padding-left: 35px !important
    }

    .res-991-pl-50 {
        padding-left: 50px !important
    }

    .res-991-pl-60 {
        padding-left: 60px !important
    }

    .res-991-pl-100 {
        padding-left: 100px !important
    }

    .res-991-mt-0 {
        margin-top: 0 !important
    }

    .res-991-mt-10 {
        margin-top: 10px !important
    }

    .res-991-mt-15 {
        margin-top: 15px !important
    }

    .res-991-mt-20 {
        margin-top: 20px !important
    }

    .res-991-mt-30 {
        margin-top: 30px !important
    }

    .res-991-mt_45 {
        margin-top: -45px !important
    }

    .res-991-mb-0 {
        margin-bottom: 0 !important
    }

    .res-991-mb-10 {
        margin-bottom: 10px !important
    }

    .res-991-mb-15 {
        margin-bottom: 15px !important
    }

    .res-991-mb-20 {
        margin-bottom: 20px !important
    }

    .res-991-mb-30 {
        margin-bottom: 30px !important
    }

    .res-991-ml-0 {
        margin-left: 0 !important
    }

    .res-991-ml-15 {
        margin-left: 15px !important
    }

    .res-991-ml-20 {
        margin-left: 20px !important
    }

    .res-991-ml-30 {
        margin-left: 30px !important
    }

    .res-991-ml-40 {
        margin-left: 40px !important
    }

    .res-991-ml-50 {
        margin-left: 50px !important
    }

    .res-991-ml_15 {
        margin-left: -15px !important
    }

    .res-991-ml_30 {
        margin-left: -30px !important
    }

    .res-991-ml_50 {
        margin-left: -50px !important
    }

    .res-991-mr-0 {
        margin-right: 0 !important
    }

    .res-991-mr-15 {
        margin-right: 15px !important
    }

    .res-991-mr-20 {
        margin-right: 20px !important
    }

    .res-991-mr-30 {
        margin-right: 30px !important
    }

    .res-991-mr-40 {
        margin-right: 40px !important
    }

    .res-991-mr-50 {
        margin-right: 50px !important
    }

    .featured-icon-box.icon-align-before-content .featured-content {
        padding-left: 15px
    }

    .featured-icon-box.icon-align-top-content.style1:after {
        content: unset
    }

    .featured-imagebox-procedure .featured-thumbnail:before {
        content: unset
    }

    [class*=col-]:not(:last-child) .featured-imagebox-procedure {
        margin-bottom: 30px
    }

    .second-footer .widget-area .widget {
        margin-right: 50px
    }

    .second-footer .widget-area:nth-child(-n+2) {
        margin-bottom: 0
    }

    [class*=col-] .ttm-list.ttm-list-style-icon li:last-child {
        padding-bottom: 11px
    }

    .featured-icon-box.icon-align-before-content.style1 {
        padding: 40px 10px 0;
        margin-bottom: -10px
    }

    [class*=col-]:last-child .featured-icon-box.icon-align-before-content.style1 {
        padding-bottom: 40px;
        margin-bottom: 0
    }

    .sidebar .sidebar-right {
        padding-top: 50px !important;
        margin-top: 50px !important;
        order: 1;
        width: 100%
    }

    .sidebar .sidebar-left {
        padding-top: 35px !important;
        margin-top: 50px !important;
        order: 1;
        width: 100%
    }

    article.ttm-blog-classic {
        margin-bottom: 30px
    }

    .ttm-blog-classic .entry-header .entry-title {
        font-size: 28px;
        line-height: 30px
    }

    .ttm-blog-classic .ttm-blogbox-desc-footer {
        padding-bottom: 30px;
        padding-top: 5px
    }

    article.ttm-blog-classic .ttm-box-post-icon,
    article.ttm-blog-single .ttm-box-post-icon {
        height: 46px;
        width: 57px;
        line-height: 46px
    }

    article.ttm-blog-classic .ttm-box-post-icon,
    article.ttm-blog-single .ttm-box-post-icon {
        right: 0
    }

    article.ttm-blog-classic .ttm-box-post-icon i,
    article.ttm-blog-single .ttm-box-post-icon i {
        font-size: 24px
    }

    #map {
        height: 264px
    }

    .ttm-fid.inside.style2 {
        padding: 40px 0 0
    }

    .featured-icon-box.icon-align-before-content.style6 {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        max-width: 100%;
        right: 0;
        padding: 30px 15px 35px
    }

    .ttm-fid.inside.style2 h4 {
        padding-left: 0;
        margin-left: 0;
        border-left: unset
    }

    .ttm-fid.inside.style2 h3.ttm-fid-title {
        padding-left: 10px
    }

    .section-title.style1 .title-header:after {
        position: unset
    }

    .ttm-list.ttm-list-style-icon.style1 {
        padding: 40px 15px 20px
    }

    .featured-icon-box.icon-align-before-content.style10 {
        padding: 30px 15px 15px
    }

    .row-title.style1 p {
        margin-bottom: 30px
    }

    .featured-icon-box.icon-align-top-content.style9 {
        padding: 40px 0 0
    }

    .featured-imagebox.style2 .featured-content {
        padding: 40px 15px
    }

    .border-left-box,
    .border-left-box_1 {
        display: none
    }

    .featured-imagebox-portfolio.style2 {
        margin-top: 0;
        height: 100%
    }

    .featured-imagebox-portfolio.style2 .featured-content {
        padding: 0
    }

    .featured-imagebox-portfolio.style2 .layer-content {
        padding: 23% 10% 23%
    }
}

@media (max-width:767px) {
    .res-767-mt-0 {
        margin-top: 0 !important
    }

    .res-767-mt-10 {
        margin-top: 10px !important
    }

    .res-767-mt-15 {
        margin-top: 15px !important
    }

    .res-767-pt-10 {
        padding-top: 10px !important
    }

    .res-767-mb-10 {
        margin-bottom: 0 !important
    }

    .section-title h2.title {
        font-size: 36px;
        line-height: 46px
    }

    .section-title.style2 .title-header {
        width: 100%;
        display: block;
        padding-bottom: 20px
    }

    .testimonials.style1 .testimonial-content {
        padding: 20px 20px 20px 40px
    }

    .testimonials.style1 .testimonial-content blockquote:before {
        font-size: 45px;
        line-height: 45px
    }

    .testimonials.style1 .testimonial-content blockquote:after {
        border-top-width: 55px;
        border-right-width: 55px
    }

    .row-title h2.title {
        font-size: 38px;
        line-height: 42px;
        padding: 0 10px
    }

    .col-md-4 .ttm-list.ttm-list-style-icon li:last-child {
        padding-bottom: 11px
    }

    .second-footer .widget-area .widget {
        margin-right: 30px
    }

    .ttm-tabs.tabs-style-01 ul.tabs {
        display: block
    }

    .ttm-tabs.tabs-style-01 ul.tabs li {
        margin: 15px 0 0
    }

    .ttm-tabs.tabs-style-01 ul.tabs li a {
        padding: 11px 15px 11px 15px;
        font-size: 17px
    }

    .ttm-tabs.tabs-style-01 ul.tabs li:not(:last-child) a:after,
    .ttm-tabs.tabs-style-01 ul.tabs li:not(:last-child) a:before {
        content: unset
    }

    .breadcrumb-wrapper .breadcrumb-wrapper-inner {
        padding: 0;
        background: 0 0
    }

    .title-box .page-title-heading h1 {
        font-size: 38px;
        line-height: 41px
    }

    ul.ttm-coursedetails-box {
        display: block
    }

    ul.ttm-coursedetails-box li:not(:last-child):after {
        content: unset
    }

    .ttm-tabs.ttm-tab-style-vertical .content-tab {
        padding: 10px 20px
    }

    .ttm-tabs.ttm-tab-style-horizontal ul {
        display: block;
        margin-right: 0
    }

    .ttm-tabs.ttm-tab-style-horizontal ul.tabs li a {
        border-radius: 0
    }

    .single-lp_course .course-tabs ul.tabs {
        display: block
    }

    .single-lp_course .course-tabs ul.tabs li {
        flex: unset;
        border-left: 2px solid #eee;
        border-right: 2px solid #eee;
        margin: 0 0 8px
    }

    .single-lp_course .course-tabs ul.tabs li:last-child {
        border-right: 2px solid #eee;
        margin-right: 0
    }

    .single-lp_course .course-tabs ul.tabs li:first-child {
        border-left: 2px solid #eee
    }

    .single-lp_course .course-tabs ul.tabs li a {
        padding: 14px 18px;
        font-size: 16px
    }

    table.shop_table:not(.checkout-review-order-table) tr td {
        display: block;
        text-align: right
    }

    .shop_table_responsive thead,
    table .cart_item .product-thumbnail {
        display: none
    }

    table.shop_table:not(.checkout-review-order-table) tbody tr {
        display: block
    }

    table.shop_table_responsive tr.cart_item td:not(.product-remove)::before {
        content: attr(data-title) ": ";
        font-weight: 700;
        float: left
    }

    .coupon {
        float: none;
        padding-bottom: .5em
    }

    td.actions button {
        width: 100%
    }

    .coupon input,
    td.actions .coupon .button {
        width: auto
    }

    .quantity {
        display: inline-block
    }

    .cart-collaterals {
        margin-top: 0
    }

    .cart-collaterals .cart_totals {
        width: 100%;
        float: none
    }

    .banner-slider.slick_slider:hover .slick-next,
    .banner-slider.slick_slider:hover .slick-prev {
        opacity: 0
    }

    .featured-imagebox-portfolio.style2 .layer-content {
        padding: 5% 10% 5%
    }
}

@media only screen and (max-width:600px) {
    ul.widget_contact_wrapper li:last-child {
        font-size: 20px
    }

    ul.widget_contact_wrapper li:last-child i {
        font-size: 31px
    }

    .comment-meta-data a {
        float: none;
        margin-bottom: 15px;
        display: block
    }

    .comments-area .comment-form .comment-form-author,
    .comments-area .comment-form .comment-form-email,
    .comments-area .comment-form .comment-form-url {
        width: 100%
    }
}

@media screen and (min-width:600px) {
    .ttm-tabs.ttm-tab-style-vertical ul.tabs li.tab a {
        position: relative;
        width: 33.333333333333336%;
        height: 20%;
        display: block
    }

    .ttm-tabs.ttm-tab-style-vertical ul.tabs li.tab .content-tab {
        position: absolute;
        width: 66.66666666666667%;
        right: 0;
        top: 0;
        padding: 15px 30px
    }
}

@media (max-width:575px) {
    .second-footer>div>.row .widget-area:first-child .widget:not(:first-child) {
        margin-top: 0
    }

    .second-footer .widget-area {
        margin: 30px 0 0
    }

    .second-footer .widget-area:nth-child(1) {
        margin-top: 50px
    }

    .second-footer .widget-area:nth-child(4) {
        margin-bottom: 50px
    }

    .second-footer .widget-area .widget {
        margin-right: 0
    }

    .copyright,
    .copyright .social-icons {
        text-align: center;
        margin: 0 auto !important;
        display: block !important
    }

    .res-575-pt-0 {
        padding-top: 0 !important
    }

    .res-575-pl-0 {
        padding-left: 0 !important
    }

    .res-575-pr-0 {
        padding-right: 0 !important
    }

    .res-575-pb-0 {
        padding-bottom: 0 !important
    }

    .res-575-pt-15 {
        padding-top: 15px !important
    }

    .res-575-pt-20 {
        padding-top: 20px !important
    }

    .res-575-pl-15 {
        padding-left: 15px !important
    }

    .res-575-pr-15 {
        padding-right: 15px !important
    }

    .res-575-pb-15 {
        padding-bottom: 15px !important
    }

    .res-575-mt-0 {
        margin-top: 0 !important
    }

    .res-575-ml-0 {
        margin-left: 0 !important
    }

    .res-575-mr-0 {
        margin-right: 0 !important
    }

    .res-575-mb-0 {
        margin-bottom: 0 !important
    }

    .res-575-mt-15 {
        margin-top: 15px !important
    }

    .res-575-mt-20 {
        margin-top: 20px !important
    }

    .res-575-ml-15 {
        margin-left: 15px !important
    }

    .res-575-mr-15 {
        margin-right: 15px !important
    }

    .res-575-mb-15 {
        margin-bottom: 15px !important
    }

    .comment-body {
        padding: 20px 15px
    }

    .comment-author {
        margin-left: -125px
    }

    .comment-list .children {
        margin-left: 15px
    }

    .ttm-fid.inside.style3 {
        padding: 23px 10px 0
    }

    .row .col-lg-3:first-child .ttm-fid.inside.style3 {
        padding-top: 37px
    }

    .row .col-lg-3:last-child .ttm-fid.inside.style3 {
        padding-bottom: 44px
    }

    .ttm-fid.inside.style3 h4.ttm-fid-inner,
    .ttm-fid.inside.style3 h4.ttm-fid-inner span {
        margin-bottom: 2px
    }

    .border-bottom,
    .border-left,
    .border-right,
    .border-top {
        border: 0 !important
    }

    .featured-imagebox-team.style3 .featured-content {
        position: relative;
        right: 0
    }
}

@media (max-width:555px) {
    .featured-imagebox-event {
        margin-bottom: 10px
    }

    .featured-imagebox-event .featured-content-event {
        position: unset;
        max-width: 100%
    }

    .slick-active.slick-current .testimonials {
        padding-top: 0
    }

    .ttm-blog-single .ttm-blogbox-desc-footer {
        display: block
    }

    .ttm-blog-single .ttm-blogbox-desc-footer .ttm-social-share-wrapper {
        padding-bottom: 30px
    }

    .comments-area {
        padding-top: 30px
    }
}

@media only screen and (max-width:480px) {
    .first-footer .featured-icon-box.icon-align-before-content .featured-icon i {
        font-size: 38px
    }

    .first-footer .featured-icon-box.icon-align-before-content .featured-title h5 {
        font-size: 22px
    }

    .widget ul#menu-footer-quick-links li {
        width: 100%
    }

    .first-footer .newsletter-form button[type=submit] {
        position: unset;
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-top: 15px
    }

    .comment-meta-data .ttm-comment-owner-pos,
    .comment-meta-data h5.ttm-comment-owner {
        display: block;
        margin-bottom: 5px
    }

    .reply {
        float: none;
        margin-bottom: 25px
    }

    .comment-meta {
        display: block;
        margin-bottom: 5px
    }

    .ttm-pf-view-top-image .ttm-pf-detailbox-list .ttm-pf-data-block {
        width: 100%
    }

    .ttm-fid.inside.style3 {
        padding-left: 70px
    }

    .ttm-fid.inside.style3 .ttm-fid-title {
        font-size: 24px
    }

    .ttm-fid.inside.style3 h4.ttm-fid-inner,
    .ttm-fid.inside.style3 h4.ttm-fid-inner span {
        font-size: 32px
    }

    .ttm-fid.inside.style3 .ttm-fid-title:after {
        width: 40px
    }

    .ttm-blog-single .ttm-blogbox-desc-media {
        display: block
    }

    .ttm-blog-single .ttm-blogbox-desc-media .ttm-social-share-wrapper {
        margin-top: 15px
    }
}

@media only screen and (max-width:420px) {
    .products .product {
        width: 100%
    }

    .ttm-fid.inside.style3 {
        padding-right: 20px;
        padding-left: 60px;
        min-height: 32%
    }

    .ttm-fid.inside.style3 .ttm-fid-title {
        font-size: 20px
    }

    .ttm-fid.inside.style3 h4.ttm-fid-inner,
    .ttm-fid.inside.style3 h4.ttm-fid-inner span {
        font-size: 28px;
        padding-top: 10px
    }

    .ttm-fid.inside.style3 .ttm-fid-title:after {
        width: 40px;
        bottom: -10px
    }

    .ttm-pf-single-content-wrapper-innerbox .ttm-social-share-wrapper {
        display: block
    }

    .ttm-pf-single-content-wrapper-innerbox .ttm-social-share-wrapper ul.social-icons {
        margin-top: 15px
    }
}

@media only screen and (max-width:360px) {
    .ttm-fid.inside.style3 {
        padding-right: 17px;
        padding-left: 50px;
        min-height: 32%
    }

    .ttm-fid.inside.style3 .ttm-fid-title {
        font-size: 18px
    }

    .ttm-fid.inside.style3 h4.ttm-fid-inner,
    .ttm-fid.inside.style3 h4.ttm-fid-inner span {
        font-size: 24px;
        padding-top: 5px
    }

    .ttm-fid.inside.style3 .ttm-fid-title:after {
        width: 30px;
        bottom: -8px
    }
}